th {
	text-align: center;
	font-weight: bold;
}
td {
	text-align: left;
	font-weight: none;
}
input.invalid{
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}
textarea.invalid{
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}
.emptyloading{
	width: 32px;
	height: 32px;
	text-align: right;
	margin-right: 0;
	float: right;
}
.loading{
	width: 32px;
	height: 32px;
	background-image: url('/static/img/indicator.gif');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: right;
	margin-right: 0;
	float: right;
}

.dropdown-menu { 
	background-color: #FFF6F0;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus { 
	background-color: #027537;
}
.dropdown-menu>li>a {
	color: #000000 !important;
}
.dropdown-menu>li.disabled>a,
.dropdown-menu>li.disabled>a:hover, 
.dropdown-menu>li.disabled>a:focus {
	color: #999999 !important;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	color: #FFFFFF !important;
}