/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #FFFFFF !important;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #000000;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}
html{
  height: 100%;
}
body {

  height: 100%;
  background-color: #333;
  color: #000000;
  font-family: georgia;
}
.navbar-custom{
  background-color: #027537;
  color: #FFFFFF;
}
.jumbotron{
  margin: auto;
  text-align: center;
}
/* Padding for spacing */
.inner {
  padding: 30px;
}

  .dropdown-menu {

  background-color:#666E6C;
}

.list-group-item{

       background-color: #666E6C
}

.list-group > a.disabled {
  color: #999999;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {

  background-color: #606060;
}


