
.panel-add-outer{
	background-color: #ffffff;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
	box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.panel-add-heading{
	background-color: #ffffff;
	-moz-border-radius: 30px !important;
	border-radius: 30px !important;
	border: 2px dotted #d3d3d3 !important;
}
.panel-add{
	background-color: #ffffff;
	text-align: center ;
}
#publish{
	padding: 15px;
	padding-top: 30px;
}

.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	background-color: #f5f5f5;
	border-right: 1px solid #eee;
}
input.invalid{
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}
textarea.invalid{
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}
