body{
	background-color: #eee;
	height: 100%;
}
.emptyloading{
	width: 32px;
	height: 32px;
	text-align: right;
	margin-right: 0;
	float: right;
}
.loading{
	width: 32px;
	height: 32px;
	background-image: url('/static/img/indicator.gif');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: right;
	margin-right: 0;
	float: right;
}
.main-content{
	position: absolute;
	top: 51px;
	left: 300px;
	right:0;
	bottom:0;
	overflow: auto;
}
.vertical-divide{
	padding:6px;

}
.panel-add-outer{
	background-color: #eee;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
	box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.panel-add-heading{
	background-color: #eee;
	-moz-border-radius: 30px !important;
	border-radius: 30px !important;
	border: 2px dotted #d3d3d3 !important;
}
.panel-title{
	margin-left: 30px;
	text-align: left;
}
.panel-add{
	background-color: #eee;
	text-align: center ;
}
#publish{
	padding: 15px;
	padding-top: 30px;
}
.badge {
	margin-right: 10px;
}

.maps-sidebar {
	position: absolute;
	width: 300px;
	top: 51px;
	bottom: 20px;
	left: 0px;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	background-color: #eee;
	border-right: 1px solid #eee;
}
input.invalid{
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}
textarea.invalid{
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}
#map-canvas{
	padding: 0;
	margin: 0;
	position: absolute;
	top:100px;
	left:0;
	right: 20px;
	bottom: 20px;
	overflow: auto;
	border: 1px dotted #000000 !important;
}