  <html>
  <head>   
    <link href="/static/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/vendor/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet">

   <style type="text/css"></style></head>
 
      <body>
       <div class="container signin">
        <center><p><h2>Login with Google</h1></p></center>
  <center>
  <span id="signinButton">
  <span
    class="g-signin"
    data-callback="signinCallback"
    data-clientid="158485758125-bqrmkcp45496hdq96n6qika4l0tgafq6.apps.googleusercontent.com"
    data-cookiepolicy="single_host_origin"
    data-requestvisibleactions="http://schemas.google.com/AddActivity"
    data-scope="https://www.googleapis.com/auth/plus.login">
  </span>
</center>
</span>
       </div> <!-- /container -->
        
    <script src="./login_files/bootstrap.min.js"></script>
    <script type="text/javascript">
      (function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();

     function signinCallback(authResult) {
  if (authResult['status']['signed_in']) {
    // Update the app to reflect a signed in user
    // Hide the sign-in button now that the user is authorized, for example:
    document.getElementById('signinButton').setAttribute('style', 'display: none');
  } else {
    // Update the app to reflect a signed out user
    // Possible error values:
    //   "user_signed_out" - User is signed-out
    //   "access_denied" - User denied access to your app
    //   "immediate_failed" - Could not automatically log in the user
    console.log('Sign-in state: ' + authResult['error']);
  }
}
    </script>
  
  </body>
  </html>