{% extends 'base.html' %}

{% block content %}
         <div class="jumbotron">
       <div class="container signin">
        <center><div id="signin">
        <p><h2>Login with Google</h1></p>
  <span id="signinButton">
  <span
    class="g-signin"
    data-callback="loginFinishedCallBack"
    data-clientid="158485758125-j71rc29hfol4d4lk247j81nmccbcuoah.apps.googleusercontent.com"
    data-cookiepolicy="single_host_origin"
    data-requestvisibleactions="http://schemas.google.com/AddActivity"
    data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.profile.emails.read">
  </span>
  
</span>
</div></center>
       </div> <!-- /container -->
     </div>
   
{% endblock %}

{% block javascript %}

{{ super() }}
 <script src="/static/js/login.js"></script>
 {% endblock javascript %}
    
