{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link href="/static/css/view_maps.css" rel="stylesheet">
<script src="/static/js/vendor/knockout-3.1.0.js"></script>
<script src="/static/js/vendor/knockout.validation.min.js"></script>
<script src="/static/js/maptak.js"></script>
<script src="/static/js/view_maps.js"></script>
{% endblock %}

{% block content %}

<div class="modal fade" id="map-name-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create Map</h4>
			</div>
			<form id="mapNameForm" data-bind="submit: function () {$root.submit('#map-name-modal')}">
				<div class="modal-body">

					<div class="form-group">
						<label for="name">Map Name</label>
						<input type="text" class="form-control" data-bind="enable: !modalSubmit(),value: form.name, valueUpdate: 'afterkeydown'" id="name-textbox" placeholder="Really cool map name">
					</div>

				</div>
				<div class="modal-footer">
					<div class="emptyloading" data-bind="visible: !modalSubmit()"></div>
					<div class="loading" data-bind="visible: modalSubmit()"></div>
					<button type="submit" id="submitButton" data-bind="enable: !modalSubmit()" class="btn btn-primary" >Add Map</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- Sidebar -->
<div class="maps-sidebar">
	<div class="panel-group" id="accordion">
		<!-- add map -->
		<div class="panel panel-add-outer">
			<div class="panel-heading panel-add-heading" data-toggle="modal" data-target="#map-name-modal">
				<h4 class="panel-title panel-add">
					<span>Add Map</span>
				</h4>
			</div>
		</div>
		<!-- ko foreach: maps -->
		<div title="Select this map" class="panel panel-info" data-bind="click: function () {$root.select($data,'#map-canvas')}" >
			<div class="panel-heading">
				<div class="pull-left">
					<!-- link to single map list -->
					<a href="#" title="View map list" data-bind="urlFor: $data, click: function(){return true;}, clickBubble: false"><span  class="glyphicon glyphicon-th-list" style="color:#000000;"></span></a>
				</div>
				<button type="button" class="close" title="Delete this map." data-bind="click: $root.removeMap" aria-hidden="true">&times; </button>
				<div>
					<h4 class="panel-title">
						<span data-bind="text: name()? name : 'No Name'"></span>
					</h4>
				</div>
			</div>
		</div>
		<!-- /ko -->
	</div>
</div>
<div class="main-content">
	<h2 data-bind="text: selected()? selected().name() : 'Get started by selecting a map, or create a new one'"></h2>
	<div id="map-canvas"></div>
</div>


{% endblock %}

{% block javascript %}
{{ super() }}
<script>
$('#map-name-modal').on('shown.bs.modal', function () {
	$('#name-textbox').focus();
})
</script>
{% endblock javascript %}